<DelivConfirmCertifyV4.0Request USERID="{{userID}}">
  {{#if option}}<Option>{{option}}</Option>{{/if}}
  {{#if revision}}<Revision>{{revision}}</Revision>{{/if}}
  <ImageParameters>
   <ImageParameter>{{imageParameter}}</ImageParameter>  
  </ImageParameters>
  <FromName>{{fromName}}</FromName>
  <FromFirm>{{fromFirm}}</FromFirm>
  <FromAddress1>{{fromAddress1}}</FromAddress1>
  <FromAddress2>{{fromAddress2}}</FromAddress2>
  <FromCity>{{fromCity}}</FromCity>
  <FromState>{{fromState}}</FromState>
  <FromZip5>{{fromZip5}}</FromZip5>
  <FromZip4>{{fromZip4}}</FromZip4>
  <ToName>{{toName}}</ToName>
  <ToFirm>{{toFirm}}</ToFirm>
  <ToAddress1>{{toAddress1}}</ToAddress1>
  <ToAddress2>{{toAddress2}}</ToAddress2>
  <ToCity>{{toCity}}</ToCity>
  <ToState>{{toState}}</ToState>
  <ToZip5>{{toZip5}}</ToZip5>
  <ToZip4>{{toZip4}}</ToZip4>
  <ToPOBoxFlag>{{toPOBoxFlag}}</ToPOBoxFlag>
  <WeightInOunces>{{weightInOunces}}</WeightInOunces>
  <ServiceType>{{serviceType}}</ServiceType>
  <InsuredAmount>{{insuredAmount}}</InsuredAmount>
  <ImageType>{{imageType}}</ImageType>
  <LabelDate>{{labelDate}}</LabelDate>
  <AllowNonCleansedDestAddr>{{allowNonCleansedDestAddr}}</AllowNonCleansedDestAddr>
  <Container>{{container}}</Container>
  <Size>{{size}}</Size>
  <Width>{{width}}</Width>
  <Length>{{length}}</Length>
  <Height>{{height}}</Height>
  <Girth>{{girth}}</Girth>
  <ReturnCommitments>{{returnCommitments}}</ReturnCommitments>
  <ShippingContents>
    {{#each shippingContents}}
    <ItemDetail>
      <Description>{{description}}</Description>
      <Quantity>{{quantity}}</Quantity>
      <Value>{{value}}</Value>
      <NetPounds>{{netPounds}}</NetPounds>
      <NetOunces>{{netOunces}}</NetOunces>
      <HSTariffNumber>{{hSTariffNumber}}</HSTariffNumber>
      <CountryOfOrigin>{{countryOfOrigin}}</CountryOfOrigin>
    </ItemDetail>
    {{/each}}
  </ShippingContents>
  <FromPhone>{{fromPhone}}</FromPhone>
  <SenderMID>{{senderMID}}</SenderMID>
  <ToPhone>{{toPhone}}</ToPhone>
  <CustomsContentType>{{customsContentType}}</CustomsContentType>
  <ContentComments>{{contentComments}}</ContentComments>
  <RestrictionType>{{restrictionType}}</RestrictionType>
  <RestrictionComments>{{restrictionComments}}</RestrictionComments>
  <AESITN>{{aESITN}}</AESITN>
  <ImportersReference>{{importersReference}}</ImportersReference>
  <ImportersContact>{{importersContact}}</ImportersContact>
  <ExportersReference>{{exportersReference}}</ExportersReference>
  <ExportersContact>{{exportersContact}}</ExportersContact>
  <InvoiceNumber>{{invoiceNumber}}</InvoiceNumber>
  <LicenseNumber>{{licenseNumber}}</LicenseNumber>
  <CertificateNumber>{{certificateNumber}}</CertificateNumber>
</DelivConfirmCertifyV4.0Request>